<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 font text-mute">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center text-muted py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" class>CCPA은 <a href="http://school.cbe.go.kr/chilgeum-m/M01">칠금중학교</a>의 컴퓨터 프로그래밍 동아리입니다.
        </h5>
      </li>
    </ul>
    <!-- Call to action -->


  </div>
  <!-- Footer Elements -->
  <ul class="list-unstyled list-inline text-center text-muted py-3">
    <li class="list-inline-item">

      <a class="btn-floating btn-fb mx-1" href="https://github.com/dwkang0/ccpa-page"><img src="logo/github-logo-white.svg" height="45px" width="45px"> </a>
      <a class="btn-floating btn-fb mx-1" href="https://discord.gg/38N4sp"><img src="logo/iconfinder_discord_3069758.svg" height="45px" width="45px"> </a>
      <a class="btn-floating btn-fb mx-1" href="https://ccpa-lesson-ms.goorm.io/"><img src="logo/goorm.svg" height="45px" width="45px"> </a>

    </li>
  </ul>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-muted">© 2019 Copyright : <a href="https://github.com/dwkang0/ccpa-page">CCPA</a><br>Powered by <a href="https://bootstrapk.com">Bootstrap 4</a>
    <div>Icons made by <a class=href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    Discord Icons made by <a href="https://www.iconfinder.com/abhishekpipalva"> Abhishek Pipalva</a>

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
