<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CCPA TEST PAGE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<style>




</style>

<body>
  <div class="container">
    <div class="display-4">
      <br><br>
      <p>로그인</p>
    </div>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">이메일 주소</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="이메일을 입력하세요">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">암호</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="암호">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> 입력 정보를 기억합니다.
        </label>
      </div>
      <button type="submit" class="btn btn-primary" onclick="loginbtClick();">로그인</button>
      <br><br>

      아직 계정이 없으신가요?<a href="register"> 회원가입</a><br>
      아이디 / 비밀번호를 잊으셨나요?<a href="#"> 아이디 / 비밀번호 찾기</a>

    </form>
  </div>
</body>
<!--=========================INCLUDE HEADER================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/solid.js" integrity="sha384-+2/MEhV42Ne5nONkjLVCZFGh5IaEQmfXyvGlsibBiATelTFbVGoLB1sqhczi0hlf" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/fontawesome.js" integrity="sha384-Ia7KZbX22R7DDSbxNmxHqPQ15ceNzg2U4h5A8dy3K47G2fV1k658BTxXjp7rdhXa" crossorigin="anonymous"></script>
<script type="text/javascript" src="load_header.js"></script>
<!--=======================================================================-->
<script>
  function loginbtClick() {
    //alert("success");
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/api/auth/login');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    xhr.onreadystatechange = function() {
      if (xhr.readyState !== 4) return;
      // readyState 4: 완료

      if (xhr.status === 200) {
        // status 200: 성공
        console.log(xhr.responseText); //결과: Hello, Albert Einstein.
        alert("success, " + xhr.responseText);
      } else {
        console.log('에러: ' + xhr.status);
        alert("fail");
      }

    };
    var username = document.getElementById("exampleInputEmail1").value;
    var password = document.getElementById("exampleInputPassword1").value;

    xhr.send('username=' + username + '&password=' + password); // firstName, lastName 전송
  }
</script>

</html>
