<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CCPA TEST PAGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="css/mainJumbotron.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <style>




  </style>
  <body>
    <div class="container">
      <div class="display-4">
        <br><br>
        <p>회원가입</p>
      </div>
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1">이름</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="이름">
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">이메일 주소</label>
          <div>
    <div class="form-group">
      <div class="form-inline">


    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="이메일을 입력하세요">
    <button type="button" name="button" class="btn btn-info">이메일 인증하기</button>
</div>
</div>

  <div class="form-group">
    <label for="exampleInputPassword1">암호</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="암호">
  </div>
  <div class="from-group">
    <label for="exampleInputPassword1">암호 확인</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="암호 확인">

  </div>
  <br>
  <div class="checkbox">
    <label>
      <input type="checkbox"> <a href="term.html">이용약관</a>에 동의 합니다.
    </label>

  </div>

  <button type="submit" class="btn btn-primary">회원가입</button>
  <br><br>



</form>
</div>
</body>
<!--=========================INCLUDE HEADER================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/solid.js" integrity="sha384-+2/MEhV42Ne5nONkjLVCZFGh5IaEQmfXyvGlsibBiATelTFbVGoLB1sqhczi0hlf" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/fontawesome.js" integrity="sha384-Ia7KZbX22R7DDSbxNmxHqPQ15ceNzg2U4h5A8dy3K47G2fV1k658BTxXjp7rdhXa" crossorigin="anonymous"></script>
<script type="text/javascript" src="load_header.js"></script>
<!--=======================================================================-->
</html>
